
/* base styling */
* {
	box-sizing: border-box;	
	margin: 0px;
}

/* sections styling */

.section-heading {
    font-size: 25px;
	text-align: right;
	text-transform: uppercase;
}

.speciality__heading-1 {
	text-align: center;
}

.section_sub-heading {
	font-size: 17px;
}

.section_small-headings {
	font-size: 15px;
}

/* Images section styling */

.history_images {
	height: 348px;
	width: 392px;
	margin-left: 6px;
}

/* Button styling */

.section-btn {
	border: none;
    padding: 7px 19px 7px 19px;
    background-color: #8fde8f;
    color: white;
	cursor: pointer;
	border-radius: 20px;
}

.section-btn:hover {
	background: #fff;
	color: #000;
}	

/* List styling */

.section_list {
	list-style: none;
}

.section_list li a {
	text-decoration: none;
	font-family: verdana;
}

/* banner styling */

.banner {
	background-image: url(../images/image_cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 387px;
}

.banner .banner__heading {
	text-transform: uppercase;
    font-size: 60px;
    padding: 139px 55px 21px;
    text-align: center;
}

.banner .banner_sub-heading {
    font-size: 19px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    width: 726px;
    margin: auto;
    padding: 11px;
    font-family: arial;
    border-radius: 32px;
}

.logocap1 {
	margin: 24px 0px 0px 30px;
    font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}

/* navigation bar */

header{
	position: absolute;
}

.navmain {
	display: flex;
	flex-direction: row;
}

.nav ul {
	display: flex;
    list-style: none;
    width: 100%;
    padding: 26px 384px 10px 388px;
	font-family: verdana;
}

.nav ul li a {
	border-radius: 20px;
    text-decoration: none;
    margin: 10px;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
}

.nav ul li a:hover{
	color: #000;
	background: #fff;	
}

.nav button {
	margin-top: 24px;	
}

/* history section */

.history {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.history__heading {
	display: flex;
    flex-direction: column;
    font-size: 28px;
    padding: 53px 517px 0px;
}

.history .history_sub-heading {
	font-size: 17px;
    display: flex;
    flex-direction: column;
    padding: 10px 450px 5px;
    text-align: justify;
	font-family: arial;
}

.history .history_sub-heading .history_sub_heading_para-top {
	text-indent: 51px;
    padding: 0px 15px;
}

.history .history_sub-heading .history_sub_heading_para-bottom {
	text-indent: 51px;
    padding: 15px;
}

.history_image-1 {
	margin-left: 6px;
    height: 701px;
    width: 710px;
}

.history_image-container{
	display: flex;
	flex-direction: row;
}

.history_image-container .history_images_left {
	display: flex;
	flex-direction: column;
}

.history_image-container .history_images_left .history_images_row-top {
	display: flex;
}

.history_image-container .history_images_left .history_images_row-bottom {
	display: flex;
}

/* large image section */

.large_image {
    width: 100%;
}

/* speciality section */

.speciality .speciality__headings .speciality__heading {
	font-size: 30px;
    padding: 46px 400px 10px;
    text-align: center;
}

.speciality .speciality_content {
	margin: 0;
	color: #000;	
}

.speciality_content_row-1 {
	display: flex;
}

.speciality .speciality_content .speciality_content_row-1 .speciality_content_image {
	width: 32.8%;
    margin-left: 6px;
}

.speciality .speciality_content .speciality_content_row-1 .speciality_content_image img {
	width: 100%;
	height: 100%	
}

.speciality_content_row-2 {
	display: flex;
}

.speciality .speciality_content .speciality_content_row-2 .speciality_content_image {
	width: 32.8%;
    margin-left: 6px;
	margin-top: 6px;
}

.speciality .speciality_content .speciality_content_row-2 .speciality_content_image img {
	width: 100%;
	height: 100%;
}	

.speciality .speciality_content .speciality_content_row-1 .speciality_content_heading {
	width: 445px;
	margin: 353px 0px 0px 17px;
	font-size: 23px;
	text-transform: uppercase;
}

.speciality .speciality_content .speciality_content_row-1 .speciality_content_sub-heading {
	width: 445px;
	margin: 12px 0px 0px 17px; 
}

/* seafood section */

.seafood{
	color: #000;	
}

.seafood .seafood__heading {
    width: 100%;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 20px 5px;
}

.seafood .seafood_content .seafood_image {
	width: 32.8%;
    margin-left: 6px;
	margin-top: 6px;
}

.seafood .seafood_content .seafood_image img {
	width: 100%;
	height: 100%
}

.seafood .seafood_content .seafood_content_row-top {
	display: flex;
	flex-direction: row;
}

.seafood .seafood_content .seafood_content_row-bottom {
	display: flex;
	flex-direction: row;
}


/* venue section */

.venue .venue_heading {
	font-size: 30px;
    text-align: center;
    padding: 50px 288px 10px;
}

.venue .venue_image-container {
	width: 100%;
}

.venue .venue_image-container .venue_images_row-top {
	display: flex;
}

.venue .venue_image-container .venue_image {
	width: 32.8%;
	margin-left: 6px;
	margin-top: 6px;
}

.venue .venue_image-container .venue_image img {
	width: 100%;
	height: 100%;
}

.venue .venue_image-container .venue_images_row-center {
	display: flex;
}

.venue .venue_image-container .venue_images_row-bottom {
	display: flex;
}

/* product section */

.product .product_heading {
	font-size: 40px;
    text-align: center;
    padding: 30px 288px 0px;
}

.product .product_visit-btn {
    margin: 5px 655px 55px;
    font-size: 20px;
    box-sizing: content-box;
    padding: 3px 20px;
}

.product .product_visit-btn:hover {
	background: gray;
}

/* map */

.map {
	width: 100%;
}

/* footer */

.footer {
	border: 2px solid #000;
    width: 100%;
	background-color: #000;
	color: #fff;
	
}

.footer .footer_content {
	display: flex;
	flex-direction: row;
}

.footer .footer_content .footer_left-content .footer_left-top {
	padding: 38px 10px 10px 26px;
    font-size: 30px;
	text-transform: uppercase;
}

.footer .footer_content .footer_left-content .footer_left-time {
	margin: 20px 0px 0px 29px;
	color: gray;
}

.footer .footer_content .footer_left-content .footer_left-direction {
	margin: 0px 0px 0px 30px;
	color: gray;
}

.footer .footer_content .footer_end-img {
	margin: 24px 0px 0px 20px;
	width: 100%;
}

.footer .footer_content .footer_list-nav {
	padding: 43px 76px 20px 360px;
}

.footer .footer_content .footer_list-nav li a {
	text-decoration: none;
	color: #fff;
}

.footer .footer_content .footer_list-nav li a:hover {
	color: gray;
	background: #fff;
}

.footer .footer_content .footer_list-social {
	padding: 43px 76px 20px 36px;
}

.footer .footer_content .footer_list-social li a {
	text-decoration: none;
	color: gray;
}

.footer .footer_content .footer_list-social li a:hover {
	color: #fff;
	background: gray;
}

.footer .footer_content .footer_content-right {
	margin: 30px 0px 0px 409px;
	font-size: 15px;
}

.footer .footer_content .footer_content-right button {
	margin-left: 12px; 
}

.footer .footer_content .footer_content-right button:hover {
	color: #000;
	background: #fff;
}

.footer .footer_content .footer_content-right .footer-thank {
	padding-top: 20px;
}

.footer .footer_content .footer_content-right .footer_content_right_line-1 {
	margin-top: 31px;
	color: gray;
}

.footer .footer_content .footer_content-right .footer_content_right_line-2 {
	margin-left: 20px;
	color: gray;
}

.footer .footer_end-img {
    width: 100%;
	margin-top: 25px;
}



@media screen and (max-width: 415px) {
	body {
		width: fit-content;
	}
	
	.banner {
		margin:0;
		background-image: url(../images/image_cover.png);
		background-size: 100% 100%;
		max-width: 100%;
		height: auto;
	}
	
	.history_image-container {
		display: flex;
		flex-direction: column;
		margin-top: 18px;
		flex-wrap: wrap;
	}
	
	.history_image-1 {
		margin: 6px auto;
		width: 100%;
		height: auto;
	}
	
	.history_image-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 18px;
	}
}

@media screen and (min-width: 416px) and (max-width: 1000px) {
	body {
		width: fit-content;
	}
	
	.banner {
		margin:0;
		background-image: url(../images/image_cover.png);
		background-size: 100% 100%;
		max-width: 100%;
		height: auto;
	}
	
	.history_image-container {
		display: flex;
		flex-direction: column;
		margin-top: 18px;
		flex-wrap: wrap;
	}
	
	.history_image-1 {
		margin: 6px auto;
		width: 100%;
		height: auto;
	}
	
	.history_image-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 18px;
	}
}

	
@media screen and (min-width: 1001px) and (max-width: 1496px) {
	body {
		width: fit-content;
	}
	
	.banner {
		margin:0;
		background-image: url(../images/image_cover.png);
		background-size: 100% 100%;
		max-width: 100%;
		height: auto;
	}
	
	.history_image-container {
		display: flex;
		flex-direction: column;
		margin-top: 18px;
		flex-wrap: wrap;
	}
	
	.history_image-1 {
		margin: 6px auto;
		width: 100%;
		height: auto;
	}
	
	.history_image-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 18px;
	}
}	
